Team member @{{comment_author | safe}} has proposed to **{{disposition | safe}}** this. The next step is review by the rest of the tagged people:

{{team_votes | safe}}

{{concerns | safe}}

Once at least 75% of reviewers approve (and there are no outstanding concerns), this will enter its final comment period. If you spot a major issue that hasn't been raised at any point in this process, please speak up!

See [this document](https://github.com/matrix-org/mscbot-python/blob/master/docs/user_guide.md) for information about what commands tagged team members can give me.
